{% extends 'meetups/base/base.html' %}

{% load static %}

    {% block title %}All Meetups{% endblock %}
    {% block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
    {% endblock %}

    {% block heading %}We got great meetups coming up{% endblock %}
    {% block heading_content %}Find the one that best suits your needs{% endblock %}
{% block body %}
    <section>
        <h2>Upcoming Meetups</h2>
        <ol>
            {% for meetup_item in meetup %}
            {{ meetup_item }}
            {% include 'meetups/includes/meetup_item.html' with title=meetup_item.title image=meetup_item.image.url location=meetup_item.location.name slug=meetup_item.slug %}
            {% endfor %}
        </ol>
    </section>
<!--- <h1>All Meetups!</h1> --->
<!--- <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}"> --->
<!--- {\% \%} used here to load static data --->
<!---<p>Hello World!</p> --->
<!---{% if show_meetups %} --->
<!---    {% for meetup_item in meetup %} --->
<!---        <p>{{ meetup_item.title }}</p> --->
<!---    {% endfor %} --->
<!--- {\{\% \%\}} used here to load dynamic data in template that will be rendered--->
<!--- in views as http response.--->
<!--- used here are if,else,endif and for tags(with % sign),interpolation(with double braces) for outputting--->
<!---{% else %} --->
<!---    <p>No meetups found</p> --->
<!--- {% endif %} --->
{% endblock %}