{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}You Registered SuccessFully{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}">
{% endblock %}

{% block main_heading %}Thank you for signing up!{% endblock %}

{% block body %}
<section id="confirmation">
    <h2>You registered successfully</h2>
    <p>Thanks for signing up!- see you at the meetup!</p>
    <p>Got questions or can't make it? Please <a href="">contact the organizer</a></p>
</section>

<section id="continue">
    <p>Ofcourse, you can sign up for more than one meetup!</p>
    <p><a href="/meetups" class="btn">Explore our meetups</a></p>
</section>
{% endblock %}